.default-font-treatment {
  color: $blue;
  font-size: 1em;
  font-weight: normal;
}

.crazy-font-treatment {
  background-color: black;
  color: green;
  font-size: 1em * 2;
  font-weight: bold;
  font-style: italic;
}
